<h1>Đăng ký</h1>
<form action="/users/register" method="post">
    <input type="text" placeholder="Nhap email" name="email"/>
    <input type="password" placeholder="Nhap password" name="password"/>
    <button type="submit">Submit</button>
</form>