.frame{
    width: 100%;
    height: 1000px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 14%;
    background: #f0f0f0;
}


button.btn a{ 
    /* position: relative; */
    text-decoration: none;
    color: orange;
} 
button.btn{  
    width: 130px;
    background-color: rgb(231, 227, 227);
    color: black;
    border-radius: 5px;
    position: relative;
    padding: 15px 30px;
    font-size: 14px;
    border: 0px;
    margin-right: 30px;
}

button:hover {
    background-color: black;
    cursor: pointer;
}

.evt1{
    width: 100%;
    height: 200px;
    background-color: white;
    margin-top: 3%;
    padding: 1%;
    margin-bottom: 5px;
    position: relative;
}
.evt1:hover{
    border: 3px solid rgba(57,59,64,0.15);
}
.evt1 .box1{
    width: 20%;
    height: 100%;
    /* background-color: chartreuse; */
    float: left;
}
.evt1 .box1_1{
    font-family: Helvetica;
    font-size: 16px;
    width: 76%;
    height: 100%;
    /* background-color: crimson; */
    float: left;
    padding: 1%;
    margin-bottom: 50px;
    color: #393b40;
}
.img01{
    width: 100%;
    height: 100%;
}