<!DOCTYPE html>
<html>

    <head>
        <title>Audiobook</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/mainNew.css">
         <!--footer-->
     <link rel='stylesheet' type='text/css' media='screen' href='css/testFooter.css'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </head>


    <body>
        <div class="headerM" style="margin: 30px 0;" >

            <div class="headerTest2" >
                <div class="container" >
                    <div class="row">
                        <div class="col-sm">
                            <a href="http://localhost:3000/home">Trang chủ</a>
                            
                        </div>
                        <div class="col-sm ">
                            <a
                            style="
                            color: red;
                        " href="/new">Tin tức mới</a>
                            
                        </div>
                        <div class="col-sm">
                            <a  href="http://localhost:3000/playmusic">Nghe Sách Đọc</a>
                            
                        </div>
                        <div class="col-sm">
                            <a href="#">Tiểu Thuyết</a>
                            
                        </div>
                        <div class="col-sm">
                            <a href="#">Sách trinh thám</a>
                            
                        </div>
                        <div class="col-sm">
                            <a href="#">Sách kinh Thánh</a>
                            
                        </div>
                        <div class="col-sm">
                            <a href="#">Sách Giả tưởng</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h4>CATEGORY ARCHIVES: TIN TỨC</h4>
            <div class="row">
                <div class="news col-xl-10">
                    <a href="/tintuc1"><img src="./img/imgNew/news1.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="/tintuc1"><h3>Những cuốn sách hay khởi nghiệp kinh doanh bạn nên đọc ít nhất 1 lần</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subone.html">Với những người trẻ đang bước những bước đầu trong hành trình khởi nghiệp, việc [...]</a>
                </div>
                <div class="news col-xl-10">
                    <a href="/tintuc2"><img src="./img/imgNew/news2.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="/tintuc2"><h3>Top 5+ cuốn sách hay bán chạy nhất về quản lý tài chính cá nhân</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subtwo.html">Việc thiếu những kỹ năng quản lý tài chính là một trong những nguyên nhân [...]
                    </a>
                </div>
                <div class="news col-xl-10">
                    <a href="subthree.html"><img src="./img/imgNew/news3.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="subthree.html"><h3>Những cuốn sách hay đọc tết đáng để mua năm 2021</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subthree.html">Với những người trẻ đang bước những bước đầu trong hành trình khởi nghiệp, việc [...]</a>
                </div>
                <div class="news col-xl-10">
                    <a href="subfour.html"><img src="./img/imgNew/news4.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="subfour.html"><h3>Tổng hợp 5+ cuốn sách hay học tiếng anh dành cho người ít thời gian</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subfour.html">Việc lựa chọn được những cuốn sách hay, phù hộ với phương pháp học sẽ [...]</a>
                </div>
                <div class="news col-xl-10">
                    <a href="subfive.html"><img src="./img/imgNew/news5.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="subfive.html"><h3>Tổng hợp 5+ cuốn sách hay dành cho học sinh cấp 2</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subfive.html">Bạn đang muốn tìm kiếm cho mình những cuốn sách hay dành cho học sinh [...]</a>
                </div>
                <div class="news col-xl-10">
                    <a href="subsix.html"><img src="./img/imgNew/news6.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="subsix.html"><h3>Những cuốn sách hay quản trị nhân sự thu hút giới trẻ hiện nay</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subsix.html">Đối với những ai đang có hướng thú tìm hiểu về việc quản trị nhân [...]</a>
                </div>
                <div class="news col-xl-10">
                    <a href="subseven.html"><img src="./img/imgNew/news7.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="subseven.html"><h3>Top 5+ cuốn sách hay cho thiếu nhi nên mua cho bé</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subseven.html">Những sách hay, cuốn truyện hay không chỉ giúp mang đế tiếng cười cho trẻ [...]</a>
                </div>
                <div class="news col-xl-10">
                    <a href="subeight.html"><img src="./img/imgNew/news8.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="subeight.html"><h3>Top 5+ sách hay rèn luyện trí nhớ, khả năng ghi nhớ bán chạy</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subeight.html">Nếu bạn đang có suy nghĩ trí nhớ là yếu tố bẩm sinh, không thể [...]</a>
                </div>
                <div class="news col-xl-10">
                    <a href="subnine.html"><img src="./img/imgNew/news9.jpg"class="styleall" alt="..."></a>
                    <a class="wy" href="subnine.html"><h3>Tổng hợp những sách hay giáo dục trẻ hữu ích cho mẹ</h3></a>
                    <hr  width="30px" align="left" />
                    <a  class = "newsa" href="subnine.html">Bạn đang làm mẹ nhưng vẫn loay không biết nên giáo dục con như thế [...]</a>
                </div>
               
                
            </div>
        
     

    </body>
</html>



<!-- <div class="header">

</div>
<div class="container">
    <div class="content">
                <div class="ki col-xl-4">
                   <img src="https://anhdep123.com/wp-content/uploads/2021/02/hinh-nen-cho-soi-dep-cho-dien-thoai.jpg" class="style" alt="...">
                </div>
                <div class="ki col-xl-4">
                    <img src="https://anhdep123.com/wp-content/uploads/2021/02/hinh-nen-cho-soi-dep-cho-dien-thoai.jpg" class="style" alt="...">
                </div>
                <div class="ki col-xl-4">
                    <img src="https://anhdep123.com/wp-content/uploads/2021/02/hinh-nen-cho-soi-dep-cho-dien-thoai.jpg" class="style" alt="...">
                </div>
            </div>
    <div class="sidebar">

    </div>
    <div class="clearfix"></div>
</div>
<div class="footer">

</div> -->

