<h1>
  <h1>
    <!DOCTYPE html>
    <html lang="en">

    <head>
      <title>audio</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/css/style.css" />
      <!-- link icon audio -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>


      <div class="headerM">

        <div style="
            margin-top: 30px;
            height: 30px;
            font-size: 15px;
          " class="headerTest2">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <a href="http://localhost:3000/home">Trang chủ</a>

              </div>
              <div class="col-sm ">
                <a href="/new">Tin tức mới</a>

              </div>
              <div class="col-sm">
                <a style="
                              color: red;
                          " href="http://localhost:3000/playmusic">Nghe Sách Đọc</a>

              </div>
              <div class="col-sm">
                <a href="#">Sách kinh doanh</a>

              </div>
              <div class="col-sm">
                <a href="#">Sách trinh thám</a>

              </div>
              <div class="col-sm">
                <a href="#">Sách kinh Thánh</a>

              </div>
              <div class="col-sm">
                <a href="#">Sách Giả tưởng</a>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid allpage">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-4">

              <div class="card list" style="margin-top: 40px; border-radius: 20px; float: right;">
                <img
                  src="https://isachhay.net/wp-content/uploads/2017/08/sach-hay-nguoi-ban-hang-vi-dai-nhat-the-gioi.jpg.webp"
                  class="card-img-top" style="border-radius: 15px; height: 400px;" alt="...">
                <div class="card-body">
                  <p class="card-text">
                  <h4><b>Truyện:</b> Ma 1 nén nhang</h4>
                  <p>
                  <h5><b>Tác giả:</b>Nguyễn Thanh Trường</h5>
                  <p>
                  <h5><b>Giọng Đọc:</b>Hoàng Việt</h5>
                  <p>
                  <h5><b>Tình trạng:</b> Phần 2</h5>
                  <p>
                  <h5><b>Thể Loại:</b></h5>
                  <p>
                  <h5><b>Đánh giá:

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                      </svg>

                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-star" viewBox="0 0 16 16">
                        <path
                          d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                      </svg>
                    </b>
                  </h5>
                  <p>

                </div>
              </div>
            </div>
            <div class="col-xl-6 allmedia">

              <div class="main">

                <!-- top bar -->
                <div class="top_bar">
                  <!--  active -->
                  <button onclick="sidebar()"><i class='bx bx-chevron-right'></i></button>
                  <div class="options">
                    <button><i class='bx bx-music'>1</i></button>
                    <button><i class='bx bxs-volume-low'>2</i></button>
                    <button><i class='bx bx-edit-alt'>3</i></button>
                  </div>
                  <!--  active2 -->
                  <button onclick="open_p()"><i class='bx bx-menu-alt-left'></i></button>
                </div>

                <div class="playing_part">
                  <div class="imgCD">
                    <img class="imageAudio" src="" alt="">
                  </div>
                </div>

                <!-- control part -->
                <div class="control_part">
                  <div class="song_title">
                    <p class="titleMusicAudio">song title</p>
                    <p class="artist">artist name</p>
                  </div>

                  <div class="control_buttons">
                    <div class="range_slider">
                      <input type="range" min="0" max="100" step="1" id="slider" value="0">
                      <p>3:00</p>
                    </div>

                    <div class="main_btns">
                      <button id="previous"><i class='bx bx-skip-previous'></i></button>

                      <button id="play_btn">
                        <i class='bx bx-play'></i>
                        <!-- <i class="bx bx-pause"></i> -->
                      </button>

                      <button id="previous"><i class='bx bx-skip-next'></i></button>
                      <audio id="audio" src="/public/audio/sachhay.mp3"></audio>
                    </div>
                  </div>
                </div>

                <!-- playlist songs -->
                <!-- active2 -->
                <div class="playlist">
                  <div class="listAudio"></div>

                </div>
              </div>



            </div>


          </div>
        </div>

        <div class="row comments-container">
          <div class="col-xl-4"></div>
          <div class="col-xl-6">
            <!--   box-note -->
            <div class="container box-note">
              <h4>Lưu ý:</h4> Hiện tại đường truyền internet quốc
              tế đang gặp vấn đề nên có thể bạn sẽ không nghe được truyện. Mong các bạn hết sức thông cảm.
              Đừng quên like, share để ủng hộ Ad và Team duy trì và phát triển website nhé. Nếu truyện bị lỗi các
              bạn
              vui lòng comment lại để Ad fix nhé. Chúc các bạn nghe truyện vui vẻ
            </div>

            <!--  // -->
            <!-- box-comment -->
            <div class="container box-comment">
              <h3>Bình Luận:</h3>
              <diV class="col">
                <form action="" method="POST">
                  <input name="comment" class="input-comment">
                  <button class="button-comment">Bình luận:</button>
                </form>


                <% if(comments.length > 0) { %>
                  <% for(let comment of comments) { %>
                    <div class="container">
                      <div class="row" style="  margin-top: 50" >
                         <img class="avatar-user" src="http://dvdn247.net/wp-content/uploads/2020/07/avatar-mac-dinh-1.png">
                         <div class="box-user-comments">
                              <div class="container">
                              <p class="name-user-cmt"><b>User</b></p>
                              <p class="content-user-cmt"> <%= comment.comment %></p>
                              </div>
                         </div>
                         
                      </div>
                      <td>
                        <a href="" class="btn btn-sm"><i class="fa fa-trash"></i></a>
                    </td>
                  </div>
                    <tr>
                    </tr>
                    <% } %>
                      <% } else { %>
                        <tr>
                          <td>No data found</td>
                        </tr>
                        <% } %>


              </diV>
              <div class=""></div>
            </div>







            <div id="listCardAudio"></div>


          </div>

        </div>
        <div class="col-xl-2"></div>
      </div>


      </div>
      </div>
      </div>


    </body>
    <script src="/javascript/SettingAudio.js"></script>

    </html>