@media screen and (min-width: 1024px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /*Common*/

    html {
        font-family: tahoma, arial;
        font-size: 14px;
    }

    .row::after {
        content: "";
        display: block;
        clear: both;
    }

    #main {
    }
    
    /* Begin: Header */
    .header {
        position: fixed;
        top: 0;
        z-index: 20;
        width: 100%;
        height: 66px;
        background-color: rgba(17,17,17,0.75);
        box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
    }
    
    .scroll {
        background-color: rgba(17,17,17,0.95);
    }

    .linkStyle {
        display: inline-block;
        color: #ccc;
        text-decoration: none;
        margin: 0 18px;
    }

    .header .song-icon{
        position: absolute;
        top: 18px;
        left: 70px;
        width: 30px;
        height: 30px;
        cursor: pointer;

    }

    .header .genshin-img {
        margin-left: 28px;
    }

    .header .nav,
    .login-info {
        position: absolute;
        display: inline-block;
        line-height: 66px;
    }

    .header ul,
    .login-info ul {
        list-style-type: none;
    }
    
    .header > .nav > li,
    .login-info > .login-dropdown > li {
        display: inline-block;
        margin: 0 18px;
    }

    .header > .nav > li:nth-child(5n) {
        margin-left: 8px;
    }

    .nav li a,
    .login-dropdown li a {   
        color: #ccc;
        text-decoration: none;
    }

    .nav > li:hover > a,
    .linkStyle:hover{
        cursor: pointer; 
        color: #fff;
        text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    }

    .nav li {
        position: relative;
    }

    .nav li:hover .subnav,
    .login-dropdown li:hover .sub-login-dropdown{
        display: block;
    }

    .nav li .subnav,
    .login-dropdown li .sub-login-dropdown{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background-color: rgba(17,17,17,0.8);
    }
    
    .nav .subnav a,
    .login-dropdown .sub-login-dropdown a.a-top{
        min-width: 220px;
        line-height: 38px;
        display: inline-block;
        color: #fff;
        padding: 0 12px;
    }

    .sign-out-btn{
        padding: 0 12px;
        color: #fff;

    }

    .nav .subnav li:hover,
    .login-dropdown .sub-login-dropdown li:hover{
        background-color: rgba(17, 17, 17, 0.75);
    }

    img.download-btn {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        width: 200px;
        height: 100%;
    }

    .header .download-btn:hover {
        opacity: 0.9;
    }

    .login-info {
        right: 220px;
    }

    .login-info .login-dropdown a:hover {
        cursor: pointer;
        color: #fff;
    }

    .nav .dropdown-btn {
        font-size: 25px;
        margin-bottom: -8px;
    }

    .login-dropdown .dropdown-btn {
        font-size: 30px;
        margin-bottom: -10px;
    }
    /* End: Header */     
    

}


