.modal {
    position: fixed;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
    display : flex;
    z-index : 10;

}

.modal__overlay {
    position        : absolute;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin  : auto;
    position: relative;
}

.cart-list__no-cart-heading {
    text-align : left;
    margin     : 8px 0 8px 12px;
    font-size  : 1.4rem;
    color      : #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style  : none;
    margin      : 0;
    height      : 56vh;
    overflow-y  : auto;
}

.header__cart-item {
    display: flex;
    cursor : pointer;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width       : 100%;
    margin-right: 12px;

}

.header__cart-item-header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size         : 1.4rem;
    font-weight       : 500;
    color             : var(--text-color);
    margin            : 12px 0 0 0;
    /* ba chấm cuối dòng */
    max-height        : 4rem;
    overflow          : hidden;
    line-height       : 2rem;
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price-wrap {
    margin: 12px 0 0 0;
}

.header__cart-item-price {
    font-size  : 1.4rem;
    color      : var(--primary-color);
    font-weight: 400;
}

.header__cart-item-multiply {
    font-size: 1.2rem;
    color    : #757575;
    margin   : 0 4px;

}

.header__cart-item-qnt {
    font-size: 1.4rem;
    color    : #757575;
}

.header__cart-item-body {
    display        : flex;
    justify-content: space-between;
    margin-top     : 10px;

}

.header__cart-item-des {
    color      : #757575;
    font-size  : 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size  : 1.4rem;
    color      : var(--text-color);
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-viewCart {
    float    : right;
    margin   : 12px;
    font-size: 1.2rem;
}