.imgheader{
    height: 380px;
 /*    background-size: cover; */
}
.Blog{
    margin: 80px;
}
.titleblog{ 
    text-align: center;
    margin-bottom: 110px;
}
.TextContent{
    color: #808080;
}
.Card{
    height: 250px;
    box-shadow: 0 4px 10px rgb(139, 138, 136);
    font-family: 'Nunito', sans-serif;
}
.ToggleBlog{
    background: white;
    border: 1px solid  #5ed80d;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.ToggleBlog:hover{
    transform: scale(1.04);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.ss {
    background: #5ed80d;
}
.card:hover{
    transform: scale(1.04);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.Card2{
    width: 90%;
    height: 180px;
    box-shadow: 0 4px 10px rgb(139, 138, 136);
}
.spaceCard{
    height: 320px;
}
.Input{
    width: 250px;
    height: 42px;
    border: 1px ridge gray;
    margin-bottom: 70px;
}

.DateCard{
    font-size: 13px;

}

.CardBlogB{
    width: 430px;
    height: 650px;
}
.TitleBoxB{
    height: 10px;
    margin: 50px;
}
.list2{
    margin: 5px;
}
.list2{
    font-size: 10px;
}
.sizeIMGContentBlogA{
    width: 80%;
    height: 400px;
}
.contentsBlogA{
    margin: 70px;
}