<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <title>Find student</title>
</head>

<body>
  <div class="container-fluid bg-dark text-light">
    <div class="container">
      <div class="col py-5">
        <h1><strong>FIND STUDENT</strong></h1>
        <div class="py-3">
          <form method="post">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <label for="studentId">Find by student object ID: </label>
                  <input type="text" class="form-control" id="studentId" name="studentId" minlength="8"
                    maxlength="64" placeholder="61951ad273410326e44f9523">
                </div>
                <button type="submit" class="btn btn-success">Find student</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>