<div class="row">
    <div class="col-xl-3">
        <%- include ('../menu')  %> 
    </div>
    <div class="col-xl-9">
        <h1 class="text-center">Xin Chào Đây Là HomePage!</h1>
    </div>
</div>