<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input { margin: 10px;}
    </style>
</head>
<body>
    <h3>Them du lieu</h3>
    <form action="/addThanhCong" method="POST" enctype="multipart/form-data">
        <input type="text" name="txtName" placeholder="name"> <br>
        <input type="file" name= "img"> <br>
        <input type="text" name="price" placeholder="price"><br>
        <input type="submit" value="add new" />
    </form>

    
    <!-- var  newData = new Test({
        name: req.body.txtName,
        img: req.file.filename,
        price: req.body.price
    });
    newData.save((err) => {
        if(err) {
             res.json({"kq": 0, "errMsg": err});
        } else {
            res.json({"kq": 1});
        }
    }) -->
</body>
</html>