<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>sua du lieu</h3>
    <form action="/addThanhCong" method="POST" enctype="multipart/form-data">
        
        <input type="text" name="txtName" placeholder="name"> <br>
        <input type="file" name= "img"> <br>
        <input type="text" name="price" placeholder="price"><br>
        <input type="submit" value="add new" />
    </form>
</body>
</html>