<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <title>Students</title>
</head>
<body>
  <div class="container-fluid bg-dark text-light">
    <div class="container">
      <div class="col py-5">
        <h1><strong>THIS IS INDEX PAGE</strong></h1>
        <a class="btn btn-success" href="/student" >Go to students</a>
        <!-- <h1><strong><%= pageTitle %></strong></h1>
        <div class="py-3">
          <div class="table-responsive">
            <table class="table table-bordered table-dark" id="resTable">
              <caption>BẢNG KẾT QUẢ</caption>
              <thead>
                <tr>
                  <th id="studentName">Họ và tên</th>
                  <th id="studentGenner">Giới tính</th>
                </tr>
              </thead>
              <tbody>
                <% students.forEach(function(student){ %>
                  <tr>
                    <td><%= student.name %></td>
                    <td><%= student.gender %></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</body>
</html>