/* login  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper-Login-Regis {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}
/* contianer */
.box-form {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.box-form::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #8DC736, #7FDA39);
    z-index: 1;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.signin-signup form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

.signin-signup form .title {
    font-size: 35px;
    color: #df4adf;
    margin-bottom: 10px;
}

.signin-signup form .input-field {
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #df4adf;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.sign-in-form .input-field p {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.sign-in-form .input-field input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 600;
    color: #444;
    
}
.btn-submit {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: #df4adf;
    color: #fff;
    font-weight: 600;
    margin: 10px, 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-submit:hover{
    background: #c03cc0;
}

.social-text{
    margin: 10px 0;
    font-size: 16px;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-icon{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50%;
    margin: 0 5px;
}
.social-icon:hover {
    
}
.pannels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* home page */
.home__page {
    --home-page-load-time: 300ms;
    /* --home-page-load-time: 500ms;
    --home-page-delay-time: 200ms;
    animation-name: home-page-load;
    animation-duration: var(--home-page-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--home-page-delay-time); */
    animation: load-page var(--home-page-load-time) ease-out; /* đặt tên cho animation  */ /*  tốc đọ trượt */
}

/* detail page */
.contentDetail {
    display: flex;
    padding-top: 50px;
    width: 85%;
    flex-wrap: wrap;
}
.wrap__groupButton__detail {
    display: flex;
    width: 100%;
}
.wrap__groupButton__detail div {
    width: 100%;
    height: 45px;
    cursor: pointer;
}
.wrap__groupButton__detail .button__buy__now {
    margin-left: 10px;
    border: 2px #666666 solid;
    display: flex;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.wrap__groupButton__detail .button__add__card {
    display: flex;
    border: 2px #009E7F solid;
    display: flex;
    color: #009E7F;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.button__check__shop {
    display: flex;
    width: 100%;
    height: 40px;
    background: #009E7F;
    margin-top: 10px;
    color: #f0f0f0;
    cursor: pointer;
}

/* Blog page */
.wrap__blog__page {
    --home-page-load-time: 300ms;
    animation: load-page var(--home-page-load-time) ease-out; 
}


/* not found page */
.btn-group-notfound {
    display: flex;
}
.content__notFound {
    color: #232323;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 12%;
    margin-top: -35px;
    font-weight: 600;
}
.btn-group-notfound div {
    margin-right: 10px;
    width: 100%;
    height: 35px;
    background: #232323;
    text-align: center;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
}
.btn-group-notfound div p {
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}


/*  */
@keyframes load-page {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Blog page */



/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .wrap__content__home {
        width: 100%;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .wrap__content__home {
        width: 100%;
    }
}

/* Cả Mobile & tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {
}
